---
layout: default
title: Home
cover: false
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button" href="{{'' | relative_url }} ">Blog</a>
        <a class="subscribe-button" href="{{'about.html' | relative_url }} ">About Me</a>
        <a class="subscribe-button" href="{{'https://github.com/GSkouroupathis' | relative_url }} ">Code</a>
        <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }} ">RSS</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h2 class="page-title"><img src="/assets/images/me.jpg" class="me-img" /><br />George Skouroupathis</h2>
            <h2 class="page-description">
                {% if site.description %}Blog/Portfolio {% endif %}
                <p class="cv-par"><a  href="/assets/cv.pdf">View my <b>C</b>urriculum <b>V</b>itae</a></p>
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{'/assets/images/me.jpg' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %}
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
